In [8]:
import pandas as pd
import numpy as np

In [19]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [14]:
df.dropna(axis=1,how='any') # axis = 0은 행을 의미를 하고 1은 열을 의미를 한다.
#여기서 이 문장에 뜻은 열을 기준으로 했을때 NaN이 모두 있는 열들에 대해서 drop해주게 한다.
#열에 대한 것을 반환
df.dropna(axis=0,how='any')
#행을 봤을때 nan이 들어 있는 행들을 지우고 반환해준다.

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [23]:
values = {'name' : 0,'toy' : 1,'born' : 2 , }
values

{'name': 0, 'toy': 1, 'born': 2}

In [24]:
df.fillna(value=values) # 위에 있는 대처 값을 각 행들에대해서 
#정의해줄수 있다.

       name        toy                 born
0    Alfred          1                    2
1    Batman  Batmobile  1940-04-25 00:00:00
2  Catwoman   Bullwhip                    2