In [1]:
import pandas as pd

In [2]:
s1 = pd.Series(['a','b'])
s1

0    a
1    b
dtype: object

In [3]:
s1 = pd.Series(['a','b'])
s1

s2 = pd.Series(['c','d'])
s2

s1

s2
        
pd.concat([s1,s2]) # 두개의 컬럼을  연결시킨다. 위 아래로 연결
pd.concat([s1,s2] , ignore_index=True) #두개를 연결시키는데 인덱스는 제외하고 새로운 인덱스를 추가한다.

pd.concat([s1,s2],keys=['s1','s2'])

s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

In [5]:
df1 = pd.DataFrame([['a',1],['b',2]],
                  columns=['letter','number']
                  )
df1

df2=pd.DataFrame([['c',3],['d',4]],
                columns=['letter','number']
                )

df2

pd.concat([df1,df2])

#df.concat(verify_integrity=True) 중복된 데이터를 하나로 출력해준다,
#df.concat(join=inner) 합치는데 중복된

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [15]:
bf = pd.DataFrame(
    {
        "x1":["A","B","C"],
        "x2":range(1,4)
    },
    index=[1,2,3]
)

bf

  x1  x2
1  A   1
2  B   2
3  C   3

In [16]:
bf2 = pd.DataFrame(
    {
        "x1":["A","B","D"],
        "x3":["T","F","T"]
    },
    index=[1,2,3]
)
bf2

  x1 x3
1  A  T
2  B  F
3  D  T

In [18]:
pd.merge?

In [23]:
pd.merge(bf,bf2,how='left',on='x1') #left,right,inner,outer merge를 할수 있고 on이라는 파라미터로 기준이되는 키 컬럼을 지정할수 있다.

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [27]:
bf[bf.x1.isin(bf2.x1)] #bf2.x1 컬럼에 값이 bf.x1 컬럼안에 있냐? 있는것만 출력을해준다.
bf[~bf.x1.isin(bf2.x1)] #위에 것과 반대라고 생각하면 된다.

  x1  x2
3  C   3

In [30]:
#메소드 체인을 이용하여 응용버전
pd.merge(bf,bf2,how='outer',indicator=True) # 머지한 방법에 대한 기준점을 알려준다.
pd.merge(bf,bf2,how='outer',indicator=True).query('_merge == "left_only"') # 머지 방법이 left_only인거만 출력

  x1   x2   x3     _merge
2  C  3.0  NaN  left_only