In [40]:
import pandas as pd
import seaborn as sns

In [28]:
df = sns.load_dataset("mpg")
df.head(3)

df.groupby(by='origin').size() #origin으로 묶은 뒤 묶은 사이즈 구하기
df["origin"].value_counts()
df.groupby(by="origin")["cylinders"].size() #origin 기준으로 묶고 그다음에 cylinders컬럼에 사이즐르 구한다. df["origin"].value_counts()와 같다

origin
europe     70
japan      79
usa       249
Name: cylinders, dtype: int64

In [59]:
pd.DataFrame(df.groupby(['model_year','origin'])['cylinders'].mean()).head(3)
#model_year,origin을 그룹화 한뒤 cylinders에 중간값을 구한다.

#============================shift====================================================
df2=pd.DataFrame(
    {"a":[4,5,6],
    "b":[7,8,9],
     "c":[10,11,12]
    }
)
df2
df2['b'].shift(-1) #b 컬럼에 기준으로 데이터들을 위로 올려준다.

#=======================rank=========================================
df["model_year"].rank(method="max").value_counts() #같은 값이 많은것을 기준으로 내립차순 해줌
df["model_year"].rank(method="max").value_counts() #dense 밀집도
df["model_year"].rank(method="max",pct=True).value_counts() #같은 값이 많은것을 기준으로 내립차순 해줌

df2

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12

In [62]:
df2.cumsum() #큐블레이트 썸 점층적으로 더해주는 값
df2.cummax()

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12